.menuContainer {
  position: relative;
  width: 100%;
  padding: 20px 0; /* Espacio alrededor del contenido */
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.option {
  position: relative;
  flex: 0 0 calc(33.33% - 20px); /* Tres opciones por fila con espacio entre ellas */
  margin: 0 10px; /* Espacio entre las opciones */
}

.option a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.option img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Bordes redondeados */
}

.optionName {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.zoomedOption {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Cambia el diseño a una columna en dispositivos móviles */
  }

  .option {
    flex: 0 0 10%; /* Una opción por fila en dispositivos móviles */
    margin: 0 0 10px; /* Espacio entre las opciones */
  }

  .option img {
    width: 100%; /* Hacer las imágenes más pequeñas en dispositivos móviles */
    height: auto;
  }
}