.logo {
    width: 200px;
    height: 120px;
    margin: 0px 0px 20px 50px;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(237, 164, 116, 0.41);
    color: white;
    
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    gap: 1rem;
    margin: 0px 0px 0px 1200px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f7d0b6;
    padding: 0.5rem;
    border-radius: 4px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  .input {
    padding: 0.5rem;
    margin-right: 1rem;
  }

  .mix {
    background-image: url('https://i.pinimg.com/originals/80/55/4f/80554f712f15b26081910aa3e3765b81.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Agrega esta línea */
  }